// Modal styles scoped to Home page only
.home-page-wrapper .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.home-page-wrapper .modal-content {
  position: relative;
  background-color: #000;
  width: 80%;
  height: 80%;
  max-width: 900px;
  max-height: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.home-page-wrapper .close {
  position: relative;
  top: -240px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.home-page-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

